@import "utilidades/general";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

dl, ol, ul {
    margin-bottom: 0;
}

html {
    font-family: $fontCuerpo;
    width: 100%; 
    
}

// Partials
@import "utilidades/header";
@import "utilidades/footer";

@import "pages/index";
@import "pages/productosypatrones";
@import "pages/contacto";
@import "pages/carrito";

@import "utilidades/mediaQ";



