/* P R O D U C T O S   y   P A T R O N E S */
/* Servicios productos page */

.productosHeader {
    .servicios {
        width: 100%;
        height: 35px;
        justify-content: space-around;

        .cardServicios {
            .infoCardServicios {
                font-size: 12px;
            }

            i {
                font-size: 17px;
            }
        }
    }
}

/* Filtros desplegables mobile */

.filtrosdesp {
    display: none;
}

[type="checkbox"] {
    display: none;
}

/* Main */

.main-productos {
    display: flex;
    width: 100%;
    height: auto;
    padding: 25px;
    justify-content: space-between;

    .menuAside {
        width: 300px;
        height: auto;
        min-width: 250px;
        max-width: 250px;

        h2 {
            font-family: $fontCuerpo;
            text-transform: uppercase;
            @include estiloText (18px, 2px, $verde);
            margin-bottom: 10px;
            font-weight: 600;
        }

        .prendas {
            .subtitulosCat {
                margin-bottom: 12px;
                font-weight: 500;
                text-transform: uppercase;
                font-family: $fontCuerpo;
                font-size: 16px;
                color: $violeta;
            }

            .opciones {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 8px;
                font-size: 14px;

                label {
                    cursor: pointer;
                    font-weight: 500;
                    margin-left: 25px;
                    color: #4e5c46;
                    display: flex;
                    align-items: center;
                    font-family: $fontCuerpo;

                    &::before {
                        content: ' ';
                        position: absolute;
                        left: 26px;
                        width: 12px;
                        height: 12px;
                        border: 2px solid #4e5c46;
                    }
                }

                [type="checkbox"]:checked+label::before {
                    border-color: $rosa;
                    color: #fff;
                    content: '\2713';
                    @include flex (center, center, row);
                    font-size: 10px;
                    background-color: $rosa;
                }

                [type="checkbox"]:checked+label {
                    color: $rosa;
                }
            }
        }

        .accesorios {
            @extend .prendas;

            .subtitulosCat {
                margin-top: 18px;
            }
        }

        .filtros {
            margin-top: 20px;

        }

        .coloresD {
            summary {
                font-weight: 500;
                text-transform: uppercase;
                font-family: $fontCuerpo;
                font-size: 16px;
                color: $violeta;
                margin-bottom: 8px;
                cursor: pointer;
                display: flex;
                align-items: center;

                i {
                    position: absolute;
                    left: 250px;
                }

                [class="fa-solid fa-minus"] {
                    position: absolute;
                    left: 250px;
                }
            }

            &[open] [class="fa-solid fa-plus"] {
                opacity: 0;
            }

            .coloresDiv {
                width: 110px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin: 15px 0;

                [type="checkbox"]:checked+label {
                    border: 2px solid #000;
                    border-bottom: 4px solid #000;
                }

                label {
                    border: 2px solid rgba(0, 0, 0, 0.3);
                    border-bottom: 4px solid rgba(0, 0, 0, 0.3);
                    border-radius: 5px;
                    padding: 5px 10px;
                    font-size: 13px;
                    text-transform: uppercase;
                    text-align: center;
                    cursor: pointer;

                    &:hover {
                        border: 2px solid #000;
                        border-bottom: 4px solid #000;
                    }

                    span::after {
                        display: inline-block;
                        margin-right: 5px;
                        content: ' ';
                        border: 1px solid rgba(0, 0, 0, 0.272);
                        width: 8px;
                        height: 8px;
                    }

                    .negro::after {
                        background-color: #000;
                    }

                    .gris::after {
                        background-color: #adadad;
                    }

                    .violeta::after {
                        background-color: #77518E;
                    }

                    .azul::after {
                        background-color: #19198a;
                    }

                    .celeste::after {
                        background-color: #59aedf;
                    }

                    .verde::after {
                        background-color: #518e5d;
                    }

                    .amarillo::after {
                        background-color: #fffd82;
                    }

                    .rojo::after {
                        background-color: #b91616;
                    }

                    .naranja::after {
                        background-color: #f3833d;
                    }

                    .rosado::after {
                        background-color: rgb(255, 111, 190);
                    }

                    .marron::after {
                        background-color: #8d4925;
                    }




                }
            }

            p {
                font-size: 16px;
                margin: 20px 0;
                text-transform: capitalize;
                color: $verde;
                cursor: pointer;
            }

        }
    }

    .tallesD {
        @extend .coloresD;

        .tallesDiv {
            @extend .coloresDiv;
            width: 60px;
        }

        a {
            color: #fff;
            text-decoration: none;
            padding: 5px 10px;
            border: 2px solid $verde;
            background-color: #648254e9;
            transition: all .3s ease-in;

            &:hover {
                color: $verde;
                border: 2px solid $verde;
                background: transparent;
            }
        }
    }

    .productos {
        color: $violeta;
        font-family: $fontCuerpo;
        width: 80%;
        height: auto;
        padding-bottom: 30px;

        .cards-productos {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
            grid-template-rows: 370px;
            row-gap: 25px;
            column-gap: 10px;

            .cards {
                height: 370px;
                width: 260px;
                border: 3.5px solid $verde;
                padding: 25px 20px 15px;
                box-shadow: 2px 1px 5px #d8d8d8;
                @include flex (end, stretch, column);
                overflow: hidden;

                img {
                    width: 214px;
                    height: 214px;
                    object-fit: cover;
                    object-position: center;
                    margin-bottom: 10px;
                    text-align: center;
                }

                .nombreProducto {
                    @include estiloText (18px, 2px, $violeta);
                    font-weight: 500;
                    text-transform: uppercase;
                    text-align: start;
                }

                .preCom {
                    width: 100%;
                    @include flex (space-between, baseline, row);
                    margin-top: auto;

                    p {
                        font-size: 17px;
                        font-weight: 600;
                    }

                    a {
                        @include estiloText (13px, 2.5px, #fff);
                        text-shadow: 2px 1px 5px #a3a3a3;
                        text-decoration: none;
                        border: 2px solid $verde;
                        padding: 6px 18px;
                        font-weight: 500;
                        background-color: $verde;
                        text-transform: uppercase;
                        box-shadow: 2px 1px 4px #c8c8c888;
                        transition: .5s, color .2s, font-weight .2s;

                        &:hover {
                            color: $verde;
                            background-color: transparent;
                            font-weight: 600;
                            text-shadow: none;
                        }
                    }
                }
            }
        }




    }

}


/* Main patrones */

.mainPatrones {
    @extend .main-productos;
    justify-content: flex-start;

    .menuAside {
        width: 250px;

        .precios {

            .niveles {
                width: 130px;
            }
        }
    }

    .patrones {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        grid-auto-rows: 270px;
        column-gap: 10px;
        row-gap: 10px;
        justify-items: center;

        .card-patrones {
            min-width: 270px;
            max-width: 270px;
            border: 3px solid #cb9de8;
            position: relative;

            .etiqueta-Gratis {
                position: absolute;
                top: 0;
                right: 0;
                border-right: 40px solid #cb9de8;
                border-left: 40px solid transparent;
                border-top: 40px solid #cb9de8;
                border-bottom: 40px solid transparent;
                z-index: 10;

                span {
                    position: absolute;
                    display: inline-block;
                    transform: rotate(45deg);
                    @include estiloText (13px,1.7px,#fff);
                    text-transform: uppercase;
                    font-weight: 500;
                    bottom: 3px;
                    left: -14px;
                    font-family: sans-serif;

                }
            }

            .fondo {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                position: absolute;
            }

            .info-card-patrones {
                width: 100%;
                height: 100%;
                padding: 20px;
                color: #fff;
                background: rgba(60, 41, 71, 0.6);
                backdrop-filter: blur(1.5px);
                @include flex (space-between, stretch, column);
                opacity: 0;
                transition: all .3s ease-in-out;
                font-family: $fontCuerpo;

                &:hover {
                    opacity: 1;
                }

                h4 {
                    @include estiloText (22px,2.3px,#fff);
                    text-transform: uppercase;
                    font-weight: 400;
                }

                .infoProducto {
                    font-size: 13.5px;

                    span {
                        font-weight: 500;
                        text-transform: uppercase;
                    }
                }

                .infoComprar {
                    @include flex (space-between,stretch, row);
                    font-weight: 500;
                    letter-spacing: 2px;
                    text-transform: uppercase;

                    .gratis {
                        text-decoration: line-through;
                    }

                    .gratisN {
                        text-decoration: line-through;
                    }

                }

                button {
                    @include estiloText (11.5px,2.5px,#fff);
                    padding: 8px 10px;
                    text-shadow: 2px 1px 5px #a3a3a3;
                    font-family: $fontCuerpo;
                    border: 2px solid $verde;
                    box-shadow: 2px 1px 10px #64646488;
                    transition: all .3s ease-in-out;
                    text-transform: uppercase;
                    font-weight: 500;
                    margin-bottom: 10px;
                    background: rgb(120, 141, 109);
                    cursor: pointer;

                    &:hover {
                        background: rgb(120, 141, 109, .7);
                        text-shadow: 2px 1px 5px #a3a3a3;
                    }

                }


            }


        }
    }
}